extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box
        h1= `${project.title}`
        p= `${project.description}`

      .project-tech-links-box.box
        h6 Technologies
        ul
          each technology in project.technologies
            li= technology

        a.btn-link(href=project.link, target="_blank") Live Demo
        a.btn-link(href=project.repo, target="_blank") GitHub Repo

    .project-img-box.box

      img.image_urls(src=`${project.image_urls[0]}`, alt='large picture of project')
      img.image_urls(src=`${projects.image_urls[1]}`, alt='large picture of project')
      
    nav.nav
      a(href='/')
        span &larr;
        |  Back